<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
       
    </head>
    <body>
       <%- include('partials/header.ejs'); -%>
        <%- include('partials/form.ejs'); -%>
         <p></p>
      <%- include('partials/footer.ejs'); -%>
     
 <script >
     const weatherForm = document.querySelector('form');
const search = document.querySelector('input');
const par = document.querySelector('p');
weatherForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const location = search.value;
    console.log(location,'http://localhost:3000/weather/current?location='+location);
    fetch('http://localhost:3000/weather/current?location='+location).then((res)=>{
     res.json().then((data)=>{
         if(data.error){
             console.log("error",data);
         }
         else{
             par.textContent=JSON.stringify(data)
         }
     })
    })
})
 </script>
    </body>
</html>